@charset "utf-8";

.intro {
  background: #ffffff;
  padding-top: 92px;
  padding-bottom: 92px;
}
.intro_text {
  margin-top: 36px;
}
.intro_button {
  margin-top: 47px;
}
.intro_image {
  height: 100%;
}
.intro_image > img {
  display: none;
}

.member {
  display: inline-block;
  padding: 10px;
  width: 300px;
}

.member .pic_tomo {
  background-image: url("/images/tomo.png");
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 280px;
}

.member .pic_devin {
  /* background-image: url("/images/tomo.png"); */
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 280px;
}
