<!-- Home -->
<div class="home">
  <!-- Home Slider -->
  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">
      <!-- Slide 1 -->
      <div class="slide">
        <div
          class="background_image"
          style="background-image:url(images/home1.png)"
        ></div>
        <div class="home_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content">
                  <div class="home_title">
                    <h1>12 Menin Rd, Toronto, ON M6C 3J2</h1>
                  </div>
                  <div class="home_price_tag">C$2,399,000</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="slide">
        <div
          class="background_image"
          style="background-image:url(images/home2.png)"
        ></div>
        <div class="home_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content">
                  <div class="home_title">
                    <h1>55 Royal York Rd, Toronto, ON M8V 2T5</h1>
                  </div>
                  <div class="home_price_tag">C$1,699,000</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="slide">
        <div
          class="background_image"
          style="background-image:url(images/home3.png)"
        ></div>
        <div class="home_container">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="home_content">
                  <div class="home_title">
                    <h1>97 Burncrest Dr, Toronto, ON M5M 2Z6</h1>
                  </div>
                  <div class="home_price_tag">C$1,595,000</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Home Slider Navigation -->
    <div class="home_slider_nav">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
  </div>
</div>

<!-- Search -->

<div class="search">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="search_container">
          <div class="search_title">Find your home</div>
          <div class="search_form_container">
            <form action="/search" method="POST" class="search_form" id="search_form">
              <div
                class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start"
              >
                <div
                  class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start"
                >
                  <input
                    type="number"
                    name="zipcode"
                    class="search_input"
                    placeholder="Zipcode"
                    required="required"
                  />
                </div>
                <button class="search_button">Find Properties</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Featured -->

<div class="featured">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <div class="section_subtitle">BEST</div>
          <div class="section_title"><h1>Featured Properties</h1></div>
        </div>
      </div>
    </div>
    <div class="row featured_row">
      <!-- Featured Item -->
      <div class="col-lg-4">
        <div class="listing">
          <div class="listing_image">
            <div class="listing_image_container">
              <img src="images/listing1.png" alt="" />
            </div>
            <div class="tag_price listing_price">C$1,579,900</div>
          </div>
          <div class="listing_content">
            <div
              class="prop_location listing_location d-flex flex-row align-items-start justify-content-start"
            >
              <img src="images/icon_1.png" alt="" />
              <a>49 Roxaline St, Toronto, ON M9P 2Z1</a>
            </div>
            <div class="listing_info">
              <ul
                class="d-flex flex-row align-items-center justify-content-start flex-wrap"
              >
                <li
                  class="property_area d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_2.png" alt="" />
                  <span>3,598 sqft</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_3.png" alt="" />
                  <span>4</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_4.png" alt="" />
                  <span>4</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_5.png" alt="" />
                  <span>2</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Featured Item -->
      <div class="col-lg-4">
        <div class="listing">
          <div class="listing_image">
            <div class="listing_image_container">
              <img src="images/listing2.png" alt="" />
            </div>
            <div
              class="tags d-flex flex-row align-items-start justify-content-start flex-wrap"
            ></div>
            <div class="tag_price listing_price">C$3,375,000</div>
          </div>
          <div class="listing_content">
            <div
              class="prop_location listing_location d-flex flex-row align-items-start justify-content-start"
            >
              <img src="images/icon_1.png" alt="" />
              <a>46 Gwendolen Ave, Toronto, ON M2N 1A2</a>
            </div>
            <div class="listing_info">
              <ul
                class="d-flex flex-row align-items-center justify-content-start flex-wrap"
              >
                <li
                  class="property_area d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_2.png" alt="" />
                  <span>5,440 sqft</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_3.png" alt="" />
                  <span>6</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_4.png" alt="" />
                  <span>5</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_5.png" alt="" />
                  <span>2</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Featured Item -->
      <div class="col-lg-4">
        <div class="listing">
          <div class="listing_image">
            <div class="listing_image_container">
              <img src="images/listing3.png" alt="" />
            </div>
            <div
              class="tags d-flex flex-row align-items-start justify-content-start flex-wrap"
            ></div>
            <div class="tag_price listing_price">C$2,488,000</div>
          </div>
          <div class="listing_content">
            <div
              class="prop_location listing_location d-flex flex-row align-items-start justify-content-start"
            >
              <img src="images/icon_1.png" alt="" />
              <a>117 Peckham Ave, Toronto, ON M2R 2V4</a>
            </div>
            <div class="listing_info">
              <ul
                class="d-flex flex-row align-items-center justify-content-start flex-wrap"
              >
                <li
                  class="property_area d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_2.png" alt="" />
                  <span>7,440 sqft</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_3.png" alt="" />
                  <span>6</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_4.png" alt="" />
                  <span>4</span>
                </li>
                <li
                  class="d-flex flex-row align-items-center justify-content-start"
                >
                  <img src="images/icon_5.png" alt="" />
                  <span>2</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
