<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div id="firebaseui-auth-container"></div>
<div id="loader">Loading...</div>
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<script src="/js/signin.js"></script>
